@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFlat {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-animate {
  transition: max-height 0.5s ease-in-out, opacity 0.9s ease-in-out;
  overflow: hidden;
}

.matrix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #03001c;
}
